@import url("components/profile_photo.scss");
@import url("components/_navbar.scss");

font-family: 'Josefin Slab', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Signika Negative', sans-serif;
